[user]
  name = Joe Beda
  email = joe.github@bedafamily.com

[core]
  autocrlf = input
  whitespace = space-before-tab,trailing-space,tabwidth=4
  excludesfile = ~/.gitignore
  preloadindex = true

[credential]
  helper = cache --timeout=3600

[apply]
  whitespace = fix

[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  rb = rbranch
  rv = review
  st = status
  fa = fetch --all --prune
  furb = "!echo \"Fetch upstream\"; git fetch upstream; echo \"Rebase\"; git rebase upstream/master"
  delete-merged-into-upstream = !"git branch --merged remotes/upstream/master | grep -v master | grep -v \"\\*\" | xargs -t -n 1 git branch -d"
  remote-delete-merged-origin = !"git branch -a --merged remotes/origin/master | grep -v master | grep remotes/origin/ | cut -d / -f 3 | xargs -t -n 1 git push --delete origin"
  superclean = clean -fdx -e '*.sublime-*'

[push]
  default = current

[color]
  ui = auto
  interactive = auto
  diff = auto
  status = auto
  branch = auto
  pager = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  log = true

[rerere]
  enabled = 1

[rebase]
  autosquash = true

[include]
  path = ~/.gitconfig.platform
